<div style="display: table;height: 30vh;width:100%;background-color:#2F3061">
    <div style="display: table-cell; vertical-align: middle;text-align:center">
        <h1 style="text-align: center;color:#f5faff;font-weight:bold">Sponsor: <%= sponsor.name %></h1>
        <% if(administrator){ %><input type="text" style="text-align: center;display:inline-block;width:400px" id="changeAddress" class="form-input" value="<%= sponsor.address %>"/><% }else{ %><h3 style="text-align: center;color:#f5faff;font-weight:bold"><%= sponsor.address %></h3><% } %>
    </div>
</div>

<br/>
<h1 style="text-align: center;">Dishes Offered <% if(administrator){ %><a class="button-dark" id="newDishPopupTrigger">Create New</a><% } %></h1>
<div style="text-align: center;">
    <% dishes.forEach(dish => { %>
        <% if(dish.available){ %>
            <table style="border: 2px solid #258fdb;border-radius:6px;padding:10px;margin-bottom:10px;display:inline-block;width:80vw">
                <tbody style="width:100%">
                    <tr>
                        <td style="width:15%;text-align:left">
                            <a name="<%= dish._id.toString() %>" type="button" class="button-dark want" value="" style="font-size:12px"><%= wanted.includes(dish._id.toString()) ? 'Wanted' : 'Want' %></a>
                        </td>
                        <td style="width:30%;text-align:left">
                            <%= dish.name %>
                        </td>
                        <td style="width:35%;text-align:left">
                            From <%= sponsor.name %>
                        </td>
                        <td style="width:20%;text-align:left">
                            <div class="tooltip">Hover for Details
                                <span class="tooltiptext"><strong>Food Details</strong><br/>Sweetness: <%= dish.sweetness %><br/>Strength: <%= dish.strength %><br/>Fruity: <%= dish.fruity ? 'Yes' : 'No' %><br/>Smooth: <%= dish.smooth ? 'Yes' : 'No' %><br/>Liquid: <%= dish.liquid ? 'Yes' : 'No' %><br/>Has Lactose: <%= dish.lactose ? 'Yes' : 'No' %><br/>Has Gluten: <%= dish.gluten ? 'Yes' : 'No' %><br/>Is Vegetarian: <%= dish.vegetarian ? 'Yes' : 'No' %></span>
                              </div>
                        </td>
                        <td style="width:35%;text-align:right">
                            <div title="Available!" style="background-color: #258fdb;height:20px;width:20px;border-radius:4px">
        
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <% }else{ %>
            
            <table style="border: 2px solid gray;border-radius:6px;padding:10px;margin-bottom:10px;display:inline-block;width:80vw">
                <tbody style="width:100%">
                    <tr>
                        <td style="width:15%;text-align:left">
                            <a name="<%= dish._id.toString() %>" type="button" class="button-dark want" value="<%= wanted.includes(dish._id.toString()) ? 'Wanted' : 'Want' %>" style="font-size:12px"></a>
                        </td>
                        <td style="width:30%;text-align:left">
                            <%= dish.name %>
                        </td>
                        <td style="width:35%;text-align:left">
                            From <%= sponsor %>
                        </td>
                        <td style="width:20%;text-align:left">
                            <div class="tooltip">Hover for Details
                                <span class="tooltiptext"><strong>Food Details</strong><br/>Sweetness: <%= dish.sweetness %><br/>Strength: <%= dish.strength %><br/>Fruity: <%= dish.fruity ? 'Yes' : 'No' %><br/>Smooth: <%= dish.smooth ? 'Yes' : 'No' %><br/>Liquid: <%= dish.liquid ? 'Yes' : 'No' %><br/>Has Lactose: <%= dish.lactose ? 'Yes' : 'No' %><br/>Has Gluten: <%= dish.gluten ? 'Yes' : 'No' %><br/>Is Vegetarian: <%= dish.vegetarian ? 'Yes' : 'No' %></span>
                              </div>
                        </td>
                        <td style="width:35%;text-align:right">
                            <div title="Not Available!" style="background-color: gray;height:20px;width:20px;border-radius:4px">
        
                            </div>
                        </td>
                    </tr>
                </tbody>
                
            </table>
            <br/>
            <% } %>
    <% }); %>
</div>
<% if(administrator){ %>


<div id="newDishPopup" class="modal" style="border-radius: 6px;">

    <!-- Modal content -->
    <div class="modal-content" style="text-align: center;">
      <span class="close" style="color:#258fdb;">&times;</span>
      <h3 style="text-align: center;">Create a New Dish</h3>
      <input style="display: inline-block;" type="text" placeholder="Dish Name" id="dishName" class="form-input" style="display: inline-block;margin:5px"/>
      <br/>
      <div style="text-align: center;margin-bottom:5px">
        <div style="display:inline-block;margin:5px">
            <input type="radio" id="dnr-vegetarian-y" name="vegetarian" value="1">
            <label for="dnr-vegetarian-y">Vegetarian</label>
        </div>
        <div style="display:inline-block;margin:5px">
            <input type="radio" id="dnr-vegetarian-n" name="vegetarian" value="-1" checked>
            <label for="dnr-vegetarian-n">Not Vegetarian</label>
        </div>
    </div>
    <div style="text-align: center;margin-bottom:5px">
        <div style="display:inline-block;margin:5px">
            <input type="radio" id="dnr-lactose-y" name="lactose" value="1" checked>
            <label for="dnr-lactose-y">Lactose</label>
        </div>
        <div style="display:inline-block;margin:5px">
            <input type="radio" id="dnr-lactose-n" name="lactose" value="-1">
            <label for="dnr-lactose-n">No Lactose</label>
        </div>
    </div>
    <div style="text-align: center;margin-bottom:5px">
        <div style="display:inline-block;margin:5px">
            <input type="radio" id="dnr-gluten-y" name="gluten" value="1" checked>
            <label for="dnr-gluten-y">Gluten</label>
        </div>
        <div style="display:inline-block;margin:5px">
            <input type="radio" id="dnr-gluten-n" name="gluten" value="-1">
            <label for="dnr-gluten-n">Gluten Free</label>
        </div>

    </div>
    <div style="text-align: center;margin-bottom:5px">
        <div style="display:inline-block;margin:5px">
            <input type="radio" id="dnr-sweetness-1" name="sweetness" value="5">
            <label for="dnr-sweetness-1">Very Sweet</label>
        </div>
        <div style="display:inline-block;margin:5px">
            <input type="radio" id="dnr-sweetness-2" name="sweetness" value="4">
            <label for="dnr-sweetness-2">Sweet</label>
        </div>
        <div style="display:inline-block;margin:5px">
            <input type="radio" id="dnr-sweetness-3" name="sweetness" value="3" checked>
            <label for="dnr-sweetness-3">Kindof Sweet</label>
        </div>
        <div style="display:inline-block;margin:5px">
            <input type="radio" id="dnr-sweetness-4" name="sweetness" value="2">
            <label for="dnr-sweetness-4">Slightly Sweet</label>
        </div>
        <div style="display:inline-block;margin:5px">
            <input type="radio" id="dnr-sweetness-5" name="sweetness" value="1">
            <label for="dnr-sweetness-5">Not Sweet at All</label>
        </div>
    </div>
    <div style="text-align: center;margin-bottom:5px">
        <div style="display:inline-block;margin:5px">
            <input type="radio" id="dnr-strength-5" name="strength" value="5">
            <label for="dnr-strength-5">Very Strong Taste</label>
        </div>
        <div style="display:inline-block;margin:5px">
            <input type="radio" id="dnr-strength-4" name="strength" value="4">
            <label for="dnr-strength-4">Strong Taste</label>
        </div>
        <div style="display:inline-block;margin:5px">
            <input type="radio" id="dnr-strength-3" name="strength" value="3" checked>
            <label for="dnr-strength-3">Normal Taste</label>
        </div>
        <div style="display:inline-block;margin:5px">
            <input type="radio" id="dnr-strength-2" name="strength" value="2">
            <label for="dnr-strength-2">Weak Taste</label>
        </div>
        <div style="display:inline-block;margin:5px">
            <input type="radio" id="dnr-strength-1" name="strength" value="1">
            <label for="dnr-strength-1">Bland</label>
        </div>
    </div>
    <div style="text-align: center;margin-bottom:5px">
        <div style="display:inline-block;margin:5px">
            <input type="radio" id="dnr-fruity-y" name="fruity" value="1">
            <label for="dnr-fruity-y">Fruity</label>
        </div>
        <div style="display:inline-block;margin:5px">
            <input type="radio" id="dnr-fruity-n" name="fruity" value="-1" checked>
            <label for="dnr-fruity-n">Not Fruity</label>
        </div>
    </div>
    <div style="text-align: center;margin-bottom:5px">
        <div style="display:inline-block;margin:5px">
            <input type="radio" id="dnr-liquid-y" name="liquid" value="1">
            <label for="dnr-liquid-y">Liquid</label>
        </div>
        <div style="display:inline-block;margin:5px">
            <input type="radio" id="dnr-liquid-n" name="liquid" value="-1" checked>
            <label for="dnr-liquid-n">Not Liquid</label>
        </div>
    </div>
    <div style="text-align: center;margin-bottom:5px">
        <div style="display:inline-block;margin:5px">
            <input type="radio" id="dnr-smooth-y" name="smooth" value="1">
            <label for="dnr-smooth-y">Smooth Texture</label>
        </div>
        <div style="display:inline-block;margin:5px">
            <input type="radio" id="dnr-smooth-n" name="smooth" value="-1" checked>
            <label for="dnr-smooth-n">Rough Texture</label>
        </div>
    </div>
    <a class="button-dark" id="newDish">Create</a>
    </div>
  
  </div>
  <% } %>

<script>
// Get the modal
var modal = document.getElementById("newDishPopup");

// Get the button that opens the modal
var btn = document.getElementById("newDishPopupTrigger");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

    $(".want").click(function(e){
        console.log($(this).attr('name'));
        var button = this;
        $.ajax({
            type: "POST",
            url: "/api/want",
            data: {_id: $(this).attr('name').toString()},
            dataType: 'json',
            success: function(result){
                if(!result.success){
                  location.replace('/login')
                }else{
                  $(button).text(result.nowWanted ? 'Wanted' : 'Want');
                  console.log(result.nowWanted)
                }
                
            }
          });
    });
    
    $("#newDish").click(function(e){
        var details = {}
            details.sweetness = $("#dnr-sweetness-1").is(":checked") ? 1 : ($("#dnr-sweetness-2").is(":checked") ? 2 : ($("#dnr-sweetness-3").is(":checked") ? 3 : ($("#dnr-sweetness-4").is(":checked") ? 4 : 5)));
            details.strength = $("#dnr-strength-1").is(":checked") ? 1 : ($("#dnr-strength-2").is(":checked") ? 2 : ($("#dnr-strength-3").is(":checked") ? 3 : ($("#dnr-strength-4").is(":checked") ? 4 : 5)));
            details.fruity = $("#dnr-fruity-y").is(":checked") ? 1 : -1;
            details.smooth = $("#dnr-smooth-y").is(":checked") ? 1 : -1;
            details.liquid = $("#dnr-liquid-y").is(":checked") ? 1 : -1;
            details.vegetarian = $("#dnr-vegetarian-y").is(":checked") ? 1 : -1;
            details.lactose = $("#dnr-lactose-y").is(":checked") ? 1 : -1;
            details.gluten = $("#dnr-gluten-y").is(":checked") ? 1 : -1;
        var button = this;
        $.ajax({
            type: "POST",
            url: "/api/dish/create",
            data: {name: $("#dishName").val(), sweetness: details.sweetness, strength: details.strength, fruity: details.fruity, smooth: details.smooth, liquid: details.liquid, vegetarian: details.vegetarian, lactose: details.lactose, gluten: details.gluten, sponsorId: '<%= sponsor._id.toString() %>'},
            dataType: 'json',
            success: function(result){
                if(!result.success){
                  location.replace('/login')
                }else{
                    location.reload()
                }
                
            }
          });
    });

    $("#changeAddress").on('input', function(e){
        $.ajax({
            type: "POST",
            url: "/api/sponsor/edit",
            data: {name: '<%= sponsor.name %>', sponsorId: '<%= sponsor._id.toString() %>', address: $("#changeAddress").val()},
            dataType: 'json',
            success: function(result){
                if(!result.success){
                  location.replace('/login')
                }else{
                    console.log("Sponsor details changed")
                }
            }
          });
    });
    
</script>